{% extends "auctions/layout.html" %}

{% load usd %}

{% block body %}
    <h2>Active Listings</h2>

    {% for listing in listings %}
    <div class="card mb-3">
        {% if listing.image %}
            <img src="{{ listing.image }}" class="card-img-top img-fluid" style="width:200px;height:200px;">
        {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ listing.title }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ listing | current_listing_price | usd }}</h6>
                <p class= "card-text">{{listing.description}}</p>
                <a href="{% url 'viewListing' listing.id %}" class="btn btn-primary">View</a>
            </div>
    </div>
    {% endfor %}
      
{% endblock %}