body {
    font-family: 'Kaisei Opti', serif;
}

textarea {
    min-height: 400px;
}

.row {
    border: 2px solid black;
    border-collapse: collapse;
}

.email-inbox {
    border: 1px white;
    text-align: left;
}

.email-read {
    background-color: lightgray;
}